
.exoskeleton-inner{
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.exoskeleton-inner--buttom{
  flex-direction: row-reverse;
}
.exoskeleton__content{
  width: 45%;
}
.exoskeleton__title{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
}
.exoskeleton__text{
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.exoskeleton__img{
  width: 600px;
  height: 336px;
}

@media only screen and(max-width: 940px){
  .exoskeleton-inner{
    flex-direction: column;
    margin-bottom: 70px;
  }
  .exoskeleton__content{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 28px;
    width: 90%;
  }

  .the-car{
    display: block;
    margin: 0 auto;
  }
  .exoskeleton__title{
    font-size: 24px;
    line-height: 33px;
  }
  .exoskeleton__text{
    font-size: 16px;
    line-height: 26px;
  }

}

@media only screen and (max-width:560px){
  .exoskeleton__content{
    margin: 0;
    text-align: left;
    margin-bottom: 28px;
  }
}