.exoskeleton{
  display: flex;
  align-items: center;
}
.exoskeleton__content{
  width: 528px;
}
.exoskeleton__title{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
}
