.exoskeleton-inner{
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.exoskeleton-inner--buttom{
  flex-direction: row-reverse;
}
.exoskeleton__content{
  width: 100%;
  max-width: 528px;
}
.exoskeleton__title{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
}
.exoskeleton__text{
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.exoskeleton__img{
  width: 600px;
  height: 336px;
}

@media only screen and(max-width: 560px){
  .exoskeleton-inner{
    flex-direction: column;
    margin-bottom: 70px;
  }
  .exoskeleton__content{
    margin-bottom: 28px;
  }
  .exoskeleton__title{
    font-size: 24px;
    line-height: 33px;
  }
  .exoskeleton__text{
    font-size: 16px;
    line-height: 26px;
  }
  
}